{
  "extends": "react-app",
  "rules": {
    "no-unused-vars": "error"
  },
  "overrides": [{
    "files": ["**/*.test.js"],
    "globals": {
      "shallow": true,
      "render": true,
      "mount": true
    }
  }]
}
